@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.benefits{ 
  @include normal; 
  color: $black;
    text-align: center;
    padding: 0 1rem 2rem 1rem;
   letter-spacing: -2px;
   text-transform: capitalize;
   font-size: 2.5rem;
   @include tablet{
       font-size: 2.3rem;
       padding: 1rem;
   }
  
   &__content{
    @include desktop{
        display: flex;
        flex-direction: row;
        padding: 0 5rem 0 8rem;
    }
    @include ultra{
        padding: 0 4rem 0 8rem;
    }
   }

}


.block{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 3rem;
    

    @include tablet{
        padding: 2rem 9rem;
        font-size: 1.5rem;
    }
    @include desktop{
        padding: 1.5rem;
        font-size: 1rem;
    }

    &__icon{
        width: 44px;
        height: 44px;
    }
    &__sub-heading{
        @include light; 
        color: $golden; 
        padding: 0.5rem 0;
    }

    &__paragraph{
        @include light; 
        color: $green; 
        padding: 0.5rem 0;
        @include tablet{
            line-height: 2.5rem;
            font-size: 1.2rem;
            
        }
        @include desktop{
            line-height: 1.5rem;
            font-size: 1rem;
            padding: 0 2rem;
        }
    }
}
