@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.bottom{

  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    @include tablet-pro{
      flex: 1 0 30%;

    }
   
  }
  &__container{
    @include tablet-pro{
      display: flex;
      flex: row wrap;
    }
  }
  &__heading{
    @include normal; 
    font-size: 22px;
    color: $green;
    padding: 0.5rem;
    @include tablet{
      font-size: 26px;
    }
    @include tablet-pro{
      font-size: 21px;
    }
    @include desktop{
      font-size: 20px;
    }
    
  }

  &__icon{
      width: 45px;
      height: 45px;
      @include tablet-pro{
        width: 40px;
        height: 40px;
      }
      @include desktop{
        width: 35px;
        height: 35px;
      }
  }

  &__text{
    padding: 1rem 3rem ;
    color: $black;
    @include light;
    font-size: 15px;
    text-transform: capitalize;
    @include tablet{
      font-size: 18px;
    }
    @include tablet-pro{
      font-size: 15px;
      padding: 1rem 2rem ;
      
    }
    @include desktop{
      font-size: 16px;
      padding: 1rem 4rem ;
    }
    @include ultra{
      font-size: 16px;
      padding: 1rem 6rem ;
    }
  }

  &__button{
    cursor: pointer;
    background-color: $golden;
    color: $green;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    font-size: 13px;
 @include light;
    text-align: center;
    border: 2px solid $golden;
    transition: all ease-in-out 0.3s;
    width: 170px;
    height: 34px;
    margin: 0.5rem 1.5rem;
    &:hover {
      background-color: $gold;
      color: $navy;
    }
   }

}
