@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";
.contact{
    background: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.80)), url(../assets/pics/white.jpg) no-repeat ;
    background-size: cover;
    height: 100vh;
    

    &__contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: $white;
        

    }

    &__wrapper{
        border-radius: 5px;
        width: 100%;
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__header{
        @include normal;
        color: $golden;
        font-size: 28px;
        margin: 4rem 4rem 2rem 4rem;
    }
    &__input{
        height: 40px;
        border: 1px solid $green;
        border-radius: 5px;
        padding: 0.5rem;
        @include normal;
        color: $green;
        font-size: 14px;
        accent-color: green;
    }
   
    &--form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include light;
        margin: 1rem;
        @include tablet{
            margin: 2rem 10rem;
            font-size:1.2rem;
        }
    }
    &__form{
        width: 100%;
        &--info{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &--text{
            margin-left: 0.5rem;
        }
    }
}

.contacts{
    
    &__contact{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 3rem 1rem 3rem ;
        text-align: left;
        @include tablet{
            flex-direction: row;
        }
      }
      &__phone{
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet{
            margin-right:1rem;
        }
      }
      &__text{
        @include bold; 
        font-size:0.95rem;
        text-align: left;
        padding:0 0.3rem;
        color: $white;
        margin-left: 1rem;
        text-align: left;
        @include tablet{
            margin-left: 0.5rem;
            font-size: 1.2rem;
        }
      }
      &__icons{
        padding: 0px;
        width: 40px;
        height: 40px;
        text-align: left;
        @include tablet{
            padding: 10px;
            width: 60px;
            height: 60px;
        }
      }
      &__icon{
        width: 30px;
        height: 30px;
        text-align: left;
        @include tablet{
            padding: 15px;
            width: 60px;
            height: 60px;
        }
      }
}