@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.footer{
  // background-color: red;
  border-top: 0.2px solid $green;
  margin: 2rem ;
  text-align: center;
  @include tablet{
    margin: 2rem 12rem;
  }
  @include desktop{
    margin: 2rem 16rem;
  }
  @include ultra{
    margin: 2rem 20rem;
  }

  &__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    
  }
  &__icon{
    width: 55px;
    height: 55px;
    padding: 1rem;
  }
&__header{
  @include cinzel-light; 
  padding: 3rem 0 0rem 0 ;
  color: $green;
}
&__span{
  color: $golden;
  @include cinzel-light;
}

&__contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0  -1rem ;
  @include tablet{
    margin: 0 9rem;
  }
  @include desktop{
    justify-content: center;
  }
}
&__phone{
  display: flex;
  align-items: center;
  justify-content: center;
}
&__text{
  @include light; 
  font-size:0.95rem;
  text-align: left;
  padding:0 0.3rem;
  color:$green;
}
&__icons{
  padding: 0;
  width: 30px;
  height: 30px;
  @include desktop{
    margin: 0 0 0 3rem;
  }
}
&__tiktok{
  width: 40px;
  height: 40px;
}
&__button{
  background-color: $golden;
  color: $green;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  font-size: 16px;
@include light;
  text-align: center;
  border: 2px solid $golden;
  transition: all ease-in-out 0.3s;
  width: 170px;
  height: 34px;
  margin: 1.5rem 1.5rem;
  &:hover {
    background-color: $gold;
    color: $navy;
  }
 }
}
