@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";


.form2{
    // background-color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &__group{
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
        @include tablet{
            width: 90%;
            display: flex;
           
        }
        @include desktop{
            width: 90%;
        }
    }

    &__input{
        background-color: transparent;
        width: 95%;
        padding: 0.5rem;
        margin: 0.5rem;
        @include light; 
        font-size: 17px;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        transition: all 0.3s ease-in-out;
        &:focus{
            border-bottom: 1px solid white;
        }
        &::placeholder{
            color: $golden;
        }
        @include tablet{
            // width: 90%;
            padding: 1rem ;
            margin: 1rem 0;
        }

    }
    &__dropdown{
        width: 90%;
       
    }
    &__select{
        background-color: transparent;
        width: 100%;
        padding: 0.5rem;
        margin: 2.5rem 0 ;
        @include light; 
        font-size: 17px;
        color: $golden;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        transition: all 0.3s ease-in-out;
        @include tablet{
            width: 70%;
        }
        @include desktop{
            width: 50%;
        }
    }

    &__textarea{
        background-color: transparent;
        width: 90%;
        // height: 10vh;
        padding: 0.5rem;
        margin: 2rem 0 ;
        @include light; 
        font-size: 16px;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        transition: all 0.3s ease-in-out;
        &::placeholder{
            color: $golden;
        }
    }

    &__button{
        background-color: $green;
  color: $golden;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  font-size: 20px;
@include light;
  text-align: center;
  border: 2px solid $green;
  transition: all ease-in-out 0.3s;
  width: 170px;
  height: 34px;
  margin: 1.5rem 1.5rem;
  &:hover {
    background-color: $gold;
    color: $navy;
  }
    }
    
}