@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.global{
   height: 260px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assets/pics/global.svg') no-repeat center center;
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet{
        background-size: cover;
        height: 350px;
    }
    @include desktop{
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../assets/pics/global.svg') no-repeat center center;
        background-size: cover;
        height: 650px;
    }
&__title{ 
    padding: 0 3rem;
    text-align: center;
   @include normal;  
   @include tablet{
       font-size: 3rem;
   }
    @include desktop{
         font-size: 2.5rem;
        //  color: $green;
    }
    @include ultra{
        color: $lightblue;
    }
}
&__span{ 
    color: $golden;
}
}


