@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.context{
    padding: 2rem 1rem;
    border:none;
    &__p{
        padding: 0.5rem 1rem; 
        color:$green;
    text-align: center;
    @include light; 
    font-size: 19px;
    line-height: 2rem;
    @include tablet{
        font-size: 20px;
        line-height: 2.5rem;
        padding: 1rem 1.5rem;
    }
        
    }
    &__span{
        color: $golden;
        text-transform: uppercase;
    }
    &__logo{
        @include cinzel-light;
        font-size: 22px;
        text-transform: capitalize;
        color: $golden;
        @include tablet{
            font-size: 25px;
        }
    }
    &__o{
        @include cinzel-light;
        font-size: 19px;
        color: $golden;
        @include tablet{
            font-size: 22px;
        }
    }
}

