@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.context{
    padding: 2rem 1rem;
    border:none;
    &__p{
        padding: 0.5rem 1rem; 
        color:$green;
    text-align: center;
    @include light; 
    font-size: 19px;
    line-height: 2rem;
    @include tablet{
        font-size: 20px;
        line-height: 2.5rem;
        padding: 1rem 1.5rem;
    }
    @include desktop{
        line-height: 1.5rem;
        padding: 0.5rem 10rem;
        font-size: 20px;
    }
    // @include ultra{
    //     font-size: 90px;
    //     @include bold; 
    //     line-height: 6rem;
    //     text-align: left;
    // }
        
    }
    &__span{
        color: $golden;
        text-transform: uppercase;
    }
    &__logo{
        @include light;
        font-size: 22px;
        text-transform: lowercase;
        color: $golden;
        @include tablet{
            font-size: 25px;
        }
        @include desktop{
            font-size: 21px;
        }
    }
    &__o{
        @include light;
        font-size: 19px;
        color: $golden;
        @include tablet{
            font-size: 22px;
        }
        @include desktop{
            font-size: 20px;
        }
    }
}

