@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.context{
    padding: 2rem 1rem;
    border:none;
    &__p{
        padding: 0.5rem 0; 
    }
}

.context p{ 
    color:$black;
    text-align: center;
    @include light; 
    font-size: 20px;
}