@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";

.our-products {

  padding: 2.5rem;
  width: 100%;

  .main-heading {
    font-size: 2rem;
    text-align: center;
    color: $green;
    @include normal;

    @include tablet{
      font-size: 1.85rem;
    }
    @include desktop{
      text-align: left;
    }

  }


  .our-products-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    @include tablet{
      // background-color: red;
      // background-color: rgb(237, 232, 226);
    }
   
    &__items{
      @include desktop{
        display: flex;
      }
      
      
    }
   

    &__block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin-top: 50px;
      @include tablet{
        // background-color: rgb(237, 232, 226);
        padding: 1rem 0;
      }
      @include desktop{
        align-items: flex-start;
        margin-top: 12px;
        // background-color: red;
        
      }
      @include ultra{
        margin-top: 0;
        margin-bottom: 28px;
      }
      
    }
      &__sub-heading {
        font-size: 1.2rem;
        color: $green;
        opacity: 0.7;
       @include normal; 
        margin-top: 10px;
        text-transform: uppercase;
        @include tablet{
          font-size: 1.5rem;
        }
        @include desktop{
          margin-left:1rem;
          font-size: 1.2rem;
        }
      }

      &__paragraph {
        margin-top: 12px;
        font-size: 1.1rem;
        color: $navy;
        @include light;
        opacity: 0.6;
        width: 90%;
        text-align: center;
        @include  tablet{
          font-size: 1.4rem;
          line-height: 2rem;
          width: 75%;
        }
        @include desktop{
          // background-color: green;
          width: 100%;
          font-size: 1.1rem;
          text-align: left;
        }
      }

      &__icon{
        width: 40px;
        height: 40px;
        @include tablet{
          width: 50px;
          height: 50px;
        }
        @include desktop{
          width: 35px;
          height: 35px;
        }
      }
    
  }
}

// .our-products-blocks__block:nth-child(2){
//   @include desktop{
//     margin-left: 10rem;
//     // background-color: red;
//   }
  
// }