@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";
@import "./Animations";
.test{
    @include normal; 
    text-align: center;
    padding:3rem;
    padding-bottom: 1ren;
   letter-spacing: -2px;
   text-transform: capitalize;
   font-size: 2.5rem;
   &__container{
       overflow-x: hidden;
       display: flex;
       
   }

   &__block{ 
        
       margin:1.5rem 1.3rem; 
       margin-top: 0;
        padding: 1rem;
       @include normal;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       @include tablet{
        margin:1.5rem 2.5rem; 
       }
       @include desktop{
        margin:1.5rem;
        @include sliderdesktop;
        // flex: 0 0 25%;
        
       }
       @include ultra{
           margin: 1.5rem 3rem;
           transform: translateX(-00%);
       }
   }
   &__info{
         display: flex;
         align-items: center;
       
   }
   &__profile{
       margin-left: 1rem;
   }
   &__content{
       width: 65vw;
       @include tablet{
           width: 40vw;

       }
       @include desktop{
           width: 30vw;
           
       }
       @include ultra{
              width: 25vw;
       }
   }
   &__icon{
       background-color: $green;
       color: $golden;
       border: 1px solid $green;
       width: 50px;
       height: 50px;
       border: none;
       border-radius: 50%;
       text-align: center;
       font-size: 20px;
       display: flex;
         align-items: center;
         justify-content: center;
   }

   &__header{
       padding: 1rem 0 ;
   }
   &__text{
       padding: 1.5rem 0;
   }

   &__country{
       color: $golden;
       font-size: 1.1rem;
   }
   &__span{
       font-style: italic;
       font-size: 0.9rem;
   }

   &__arrows{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   &__right{
       margin: 1rem 0.5rem;
   }
   
}



// .test{
    
//     &__container{
//         display: flex;
        
//     }
//     &__content{
//         // width: 25%;
//     }
// }