// Break-points

$tablet: 768px;
$tablet-pro: 1024px;
$desktop: 1280px;
$ultra: 1540px;

// Primary Colors

$golden: #E9B500;
$navy: #112f59;
$offwhite: #e7f2f5;
$black: #000000;
$white: #e8ecedef;

$gold: #E4DEAE;
$green: #184D47;
$silver: #B7BF96;
$black: #011B10;
$orange:#F58B00;
$lightgreen:#00917C; 
$lightblue:#A5F0C5; 