// Break-points

$tablet: 768px;
$tablet-pro: 1024px;
$desktop: 1280px;
$ultra: 1540px;

// Primary Colors

$golden: #e9b500;
$navy: #112f59;
$offwhite: #f0efe8;
$black: #000000;


$gold: #E4DEAE;
$green: #184D47;
$silver: #B7BF96;
$black: #011B10;
$orange:#F58B00;
$lightgreen:#00917C; 
$lightblue:#A5F0C5; 