@import "./partials/_variables.scss";
@import "./partials/_mixins.scss";
@import "./partials/_fonts.scss";

/********************* CSS RESETS AND DEFAULTS *********************/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
  font-size: 16px;
  background-color: #f3f5f6;
  //   font-family: $font-regular;
}

body {
  // overflow-x: hidden;
  background-color: #f3f5f6;
  //   background-color: blue;
  
}

::-webkit-scrollbar {
  width: 5px;
  overflow: auto;
}
  ::-webkit-scrollbar-track {
    background: $gold; 
    overflow: auto;
}
  ::-webkit-scrollbar-thumb {
    background: $green; 
    border-radius:5px;
    overflow: auto;
}
::-webkit-scrollbar-thumb:hover {
  
  background: $golden; 
  overflow: auto;
} 